h2 {
    color: #7F7E7E;
    text-align: center;
    font-family: 'Special Elite', cursive;
    /* margin-left: 2em; */
}

.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.oldNavbar {
    color: white;
    text-align: center;
}

.list {
    list-style-type: none;
    background-color: white;
}

a {
    color: black;
    font-family: 'Rye', cursive;
    margin-left: 2em;
}


/* more space */

.whitespace {
    height: 2em;
}


p {
    color: white;
    text-align: center;

}
