
<div id="wrapperHeader">
  <div id="header">
   <img src="https://i.imgur.com/poY5Aj4.jpg" alt="logo" class="header"/>
  </div> 
 </div>
 
 <h2>Black Market for Garden Seeds</h2>

 <link href="https://fonts.googleapis.com/css?family=Oswald|Rye|Special+Elite" rel="stylesheet">

 <div class="oldNavbar">
<nav class="whitespace">
  <ul class="list">
  <a routerLink="/">Home</a>
  <a routerLink="/aboutus">About Us</a>
  <a routerLink="/products">Products</a>
  <a routerLink="/login">Admin Login</a>
</ul>
</nav>
</div>

<p>A website about PIES!!!! (and gardening)</p>

<router-outlet></router-outlet>
<!--<app-auth></app-auth>
<app-about-us></app-about-us>
<app-products></app-products>-->

