
<div id="wrapperHeader">
  <div id="header">
   <img src="https://i.imgur.com/poY5Aj4.jpg" alt="logo" class="header"/>
  </div> 
 </div>
 
 <h2>Black Market for Garden Seeds</h2>

 <div class="oldNavbar">
<nav>
  <ul class="list">
    <li>
  <a routerLink="/">Home</a>
</li>
<li>
  <a routerLink="/aboutus">About Us</a>
</li>
<li>
  <a routerLink="/products">Products</a>
</li>
<li>
  <a routerLink="/login">Admin Login</a>
</li>
</ul>
</nav>
</div>

<router-outlet></router-outlet>

<app-navbar></app-navbar>
<!--<app-auth></app-auth>
<app-about-us></app-about-us>
<app-products></app-products>-->

